:root {
	--color-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,159,245,1) 51%, rgba(0,212,255,1) 100%);
	--color-background: rgb(2,0,36);

}


.final_body{
	color: black;
	background: var(--color-background);
	background: var(--color-gradient);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 500;

}

#survey-form {
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	padding: 30px;
	border: none;
	border-radius: 10px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(243, 243, 243, 0.2);
	
}



#name, #email, #lastname, #age {
	display: block;
	margin-right: 0px;
	padding: 3px;
	width: 99%;
	height: 28px;
	background-color: rgba(53, 53, 100, 0.877);
	color: white;
}

#number {
	display: block;
	margin-right: 0px;
	padding: 3px;
	width: 20%;
	height: 28px;
	background-color: rgba(53, 53, 100, 0.877);
	color: white;
}

fieldset {
	border: none;
	padding: 1rem 0;

  }

label {
	display: block;
	margin: 0.5rem 0;
	width: 100%;

}

#name-label, #lastname-label, #email-label, #number-label {
	color: white;

}

select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

h1 {
	font-family: 'Caveat', cursive;
	color: rgb(7,12,50);
	text-align: center;
	font-size: 55px;
}

h2 {
	margin-top: 0px;
	color: black;
}

p {
	font-size: 20px;
	font-weight: 400;
	color: white;
	text-align: center;
}

#final_title {
	padding-top: 25px;
}

#options {
	padding: 20px 0px;
	margin:0%;
	color: black;
}

.radio {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
}

textarea {
	background-color: rgba(53, 53, 100, 0.877);
	margin: none;
	display: block;
	color: white;
	font-size:15px;
	margin-top: 15px;
	margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}

input {
	background-color: rgba(53, 53, 100, 0.877);
	color: white;
	border: 1px solid;
	border-radius: 5px;

}

#dropdown {
	background-color: rgba(53, 53, 100, 0.877);
	color: white;
	border: 1px solid;
	border-radius: 5px white;


}

#submit {
	font-size: 15px;
	padding: 0%;
	width: 150px;
	height: 35px;
	border: 1px solid;
	border-radius: 5px;

}

#Coments {
	color: rgb(7,12,50);
	font-weight: 600;
	font-size: 18px;
}

#checkbox {
		margin: 0 0.5em 0 0;

}

@media (max-width: 500px) {
	.f_h1 {
		font-size: 3em;
		transition: all 700ms;
	}

	#description {
		font-size: 1.1em;
		margin-bottom: 0;
		transition: all 700ms;
	}

	fieldset {
		font-size: 0.95em;
		transition: all 700ms;
	}

	#final_survey-form {
		padding: 1em 1.2em;
	}

	textarea {
		width: 95%;
	}

}